.imag img{
    width: 100%;
    height: auto;
    z-index: -1;
}
.imag img:hover{
    transition: all 0.3 ease-in-out;
    transform: scale(1.1);
}
.imag{
    overflow: hidden;
    position: relative;
    margin: 20px;
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.text{
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.collections{
    padding: 40px;
}
p{
    font-size: 12px;
    letter-spacing: .1em;
    font-weight: 900;
    color: #fff;
}
h2{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-size: 40px;
    color: #fff;
}