<div class="main">
  <div class="title" fxLayout="row" fxLayoutAlign="center center">
    <h1>Big Sale!</h1>
  </div>
  <div class="sale" fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="25" style="margin:30px">
      <img src="../../../assets/images/blog_1.jpg" width="100%" />
    </div>
    <!-- <div fxLayout="row" fxFlex="20"> -->
      <div fxFlex="20" align="center">
        <h2>50% Less in all items</h2>
        <h5>
          By Carl Smith . September 3, 2018
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
          iste dolor accusantium facere corporis ipsum animi deleniti fugiat.
          Ex, veniam?
        </p>
        <button>SHOP NOW</button>
      <!-- </div> -->
    </div>
  </div>
</div>
