<div class="main" >
  <div class="footer" fxLayout="row" fxLayoutAlign="space-around center" fxFlexAlign="start">
  <div fxLayout="column">
<h4>Navigations</h4>
<a>Sell online</a>
<a>Features</a>
<a>Shopping cart</a>
<a>Store builder</a>
  </div>
  <div fxLayout="column">
    <h4></h4>
    <a>Mobile commerce</a>
    <a>Dropshipping</a>
    <a>Website development</a>
  </div>
  <div fxLayout="column">
    <h4></h4>
    <a>Point of sale</a>
    <a>Hardware</a>
    <a>Software</a>
    
  </div>
  <div fxLayout="column">
    <h4>Promo</h4>
   
    <h4>Finding your Perfect Shoes</h4>
    <a>Promo from january 15 - 25,2019</a>
  </div>
  <div fxLayout="column">
    <h4>Contact Info</h4>
    <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
    <a>+2 392 3929 210</a>
    <a>emailaddress@domain.com</a>

  </div>
  </div>

</div>